{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
{{ super() }}    
<p class= "my_contact_message"> Hi there, <br><br> Do you have an idea you want to share with me? Or do you want to provide feedback on one of my articles? 
    I am very much looking forward to hearing what you have to share with me. I'll get back to you as soon as I can. All the best,<br><br>Calvin </p>


    <!-- Creating a second section of content -->
<div class="second-section">
    <a class= "second-section-button" href="mailto:calvinscheck@gmail.com"><strong>Email me</strong></a>
        <div class="second-section-text"><p>Welcome to my block. Feel free to
            send me any feedback regarding articles, food for thought and new ideas
            that you want to share with me. I cannot wait to here from you!
        </p></div>
    </div>
    <hr>
{% endblock %}