{% extends 'base.html' %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/contact.css') }}">
{% endblock %}
{% block title %}Contact{% endblock %}

{% block body %}
{{ super() }}    
    <!-- Creating a second section of content -->
<div class="second-section">
    <a class= "second-section-button" href="mailto:calvinscheck@gmail.com"><strong>Email me</strong></a>
        <div class="second-section-text"> <h1> Hi there!</h1>
            <p>Welcome to my block. Feel free to
            send me any feedback regarding articles, food for thought and new ideas
            that you want to share with me. I cannot wait to here from you! </p></div>
    </div>
{% endblock %}