{% extends 'base.html' %}

{% block title %}Edit Post{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block body %}
{{ super() }}
<h1 class="page-title">Edit Post</h1>

<form action="{{ url_for('posts.edit_post', post_id=post.id) }}" method="POST">
    <label for="name">Post Title:</label>
    <input type="text" id="name" name="name" value="{{ post.name }}" required><br><br>

    <label for="date">Post Date:</label>
    <input type="date" id="date" name="date" value="{{ post.date.strftime('%Y-%m-%d') }}" required><br><br>

    <label for="author_name">Author Name:</label>
    <input type="text" id="author_name" name="author_name" value="{{ post.author.name }}" required><br><br>

    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="10" cols="50" required>{{ post.content }}</textarea><br><br>

    <input type="submit" value="Save Changes">
</form>

<!-- The delete button -->
<form action="{{ url_for('posts.delete_post', post_id=post.id) }}" method="POST">
    <input type="submit" value="Delete Post">
</form>
{% endblock %}