{% extends 'base.html' %}

{% block title %}Publish Your Own post-link{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
{% endblock %}
{% block body %}
{{ super() }}    
<h1 class="page-title">Publish a Post</h1>

<form action="{{ url_for('posts.publish_post') }}" method="post">
    <label for="name">Post Title:</label>
    <input type="text" id="name" name="name" required><br><br>
    
    <label for="date">Post Date:</label>
    <input type="date" id="date" name="date" required><br><br>
    
    <label for="author_name">Author Name:</label>
    <input type="text" id="author_name" name="author_name" required><br><br>
    
    <label for="content">Content:</label><br>
    <textarea id="content" name="content" rows="10" cols="50" required></textarea><br><br>
    
    <input type="submit" value="Publish Post">
</form>

{% endblock %}