/* Styling the second section */
.second-section {
    height: 200px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color)
}
.second-section-text {
    max-width: 500px;
    text-align: center;
    
}
.second-section-button {
    background-color: var(--background-color-2);
    size: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    border: 1px var(--border-color);
    color: var(--text-color);
}